body {
    background-image: url("../images/background.png");
}

#header {
    border: 10px ridge #d9abff;
}

h1{
    font-family: 'Press Start 2P', cursive;
}

h2 {
    font-size: 1.7em;
}

p, footer{
    font-family: 'VT323', monospace;
    font-size: 1.5em;
}

#footer {
    padding: 20px;
    color: aliceblue;
    background-color: #563d7c;
    border: 1.5px solid black;
}

#cr1:active {
    color: aqua;
}

.list-group {
    font-family:'Press Start 2P';
    text-align: center;
}